{% extends 'base.html' %}

{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


        <div class="container"> 
        <h1>Página Inicial</h1>
        <p><h2>Seja bem-vindo(a) ao sistema de cadastro de TOPIKS!</h2></p>
        <br>
    </div>

    <h1>Topiks Cadastradas</h1>
    <br>

    <table>
        <tr>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Ações</th>
        </tr>
        {% for topiks in topiks %}
        <tr>
            <td>{{ topiks.modelo }}</td>
            <td>{{ topiks.placa }}</td>
                <td>
                <a href="/editar/{{ loop.index0 }}">Editar</a>|
                <a href="/excluir/{{ loop.index0 }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a class="Cadastrar"
            href="/cadastrar">Cadastrar Nova
    </a>
{% endblock %}
